// Core
URL=
PORT=
POSTGRESQL_URL=
OPENSEARCH_URL=
UPLOADS_PATH=
MAX_UPLOAD_FILE_SIZE=

// JWT access/refresh token testing
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=

// GOOGLE AUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

// FACEBOOK AUTH
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=